USE [BenimKutuphanem]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 7.05.2026 19:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KitapKategoriler]    Script Date: 7.05.2026 19:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KitapKategoriler](
	[KitapKategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KitapID] [int] NULL,
	[KategoriID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KitapKategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kitaplar]    Script Date: 7.05.2026 19:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitaplar](
	[KitapID] [int] IDENTITY(1,1) NOT NULL,
	[KitapAd] [nvarchar](200) NOT NULL,
	[YazarID] [int] NULL,
	[ToplamSayfa] [int] NULL,
	[OkunanSayfa] [int] NULL,
	[Puan] [decimal](3, 1) NULL,
	[Durum] [nvarchar](20) NULL,
	[BaslangicTarihi] [date] NULL,
	[BitisTarihi] [date] NULL,
	[KayitTarihi] [date] NULL,
	[Cilt] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KitapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yazarlar]    Script Date: 7.05.2026 19:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yazarlar](
	[YazarID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[YazarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAd]) VALUES (1, N'Roman')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAd]) VALUES (2, N'Bilim Kurgu')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAd]) VALUES (3, N'Fantastik')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[KitapKategoriler] ON 

INSERT [dbo].[KitapKategoriler] ([KitapKategoriID], [KitapID], [KategoriID]) VALUES (1, 1, 1)
INSERT [dbo].[KitapKategoriler] ([KitapKategoriID], [KitapID], [KategoriID]) VALUES (2, 1, 2)
INSERT [dbo].[KitapKategoriler] ([KitapKategoriID], [KitapID], [KategoriID]) VALUES (3, 2, 1)
SET IDENTITY_INSERT [dbo].[KitapKategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kitaplar] ON 

INSERT [dbo].[Kitaplar] ([KitapID], [KitapAd], [YazarID], [ToplamSayfa], [OkunanSayfa], [Puan], [Durum], [BaslangicTarihi], [BitisTarihi], [KayitTarihi], [Cilt]) VALUES (1, N'1984', 1, 352, 352, CAST(9.5 AS Decimal(3, 1)), N'Okundu', CAST(N'2025-01-15' AS Date), CAST(N'2025-02-01' AS Date), CAST(N'2026-05-07' AS Date), 0)
INSERT [dbo].[Kitaplar] ([KitapID], [KitapAd], [YazarID], [ToplamSayfa], [OkunanSayfa], [Puan], [Durum], [BaslangicTarihi], [BitisTarihi], [KayitTarihi], [Cilt]) VALUES (2, N'Kürk Mantolu Madonna', 2, 160, 160, CAST(9.2 AS Decimal(3, 1)), N'Okundu', CAST(N'2025-03-10' AS Date), CAST(N'2025-03-14' AS Date), CAST(N'2026-05-07' AS Date), 0)
INSERT [dbo].[Kitaplar] ([KitapID], [KitapAd], [YazarID], [ToplamSayfa], [OkunanSayfa], [Puan], [Durum], [BaslangicTarihi], [BitisTarihi], [KayitTarihi], [Cilt]) VALUES (3, N'Kara Kitap', 3, 448, 220, CAST(8.0 AS Decimal(3, 1)), N'Okunuyor', CAST(N'2026-04-20' AS Date), NULL, CAST(N'2026-05-07' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Kitaplar] OFF
GO
SET IDENTITY_INSERT [dbo].[Yazarlar] ON 

INSERT [dbo].[Yazarlar] ([YazarID], [AdSoyad]) VALUES (1, N'George Orwell')
INSERT [dbo].[Yazarlar] ([YazarID], [AdSoyad]) VALUES (2, N'Sabahattin Ali')
INSERT [dbo].[Yazarlar] ([YazarID], [AdSoyad]) VALUES (3, N'Orhan Pamuk')
SET IDENTITY_INSERT [dbo].[Yazarlar] OFF
GO
ALTER TABLE [dbo].[Kitaplar] ADD  DEFAULT ((0)) FOR [ToplamSayfa]
GO
ALTER TABLE [dbo].[Kitaplar] ADD  DEFAULT ((0)) FOR [OkunanSayfa]
GO
ALTER TABLE [dbo].[Kitaplar] ADD  DEFAULT ((0)) FOR [Puan]
GO
ALTER TABLE [dbo].[Kitaplar] ADD  DEFAULT ('Okunacak') FOR [Durum]
GO
ALTER TABLE [dbo].[Kitaplar] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Kitaplar] ADD  DEFAULT ((0)) FOR [Cilt]
GO
ALTER TABLE [dbo].[KitapKategoriler]  WITH CHECK ADD FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KitapKategoriler]  WITH CHECK ADD FOREIGN KEY([KitapID])
REFERENCES [dbo].[Kitaplar] ([KitapID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD FOREIGN KEY([YazarID])
REFERENCES [dbo].[Yazarlar] ([YazarID])
GO
