USE [Proje]
GO
/****** Object:  Table [dbo].[Emanetler]    Script Date: 28.04.2026 20:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emanetler](
	[IslemID] [int] NOT NULL,
	[KitapID] [int] NULL,
	[UyeID] [int] NULL,
	[VerilisTarihi] [date] NULL,
	[IadeTarihi] [date] NULL,
	[TeslimDurumu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IslemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 28.04.2026 20:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] NOT NULL,
	[KategoriAd] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kitaplar]    Script Date: 28.04.2026 20:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitaplar](
	[KitapID] [int] NOT NULL,
	[KitapAd] [varchar](100) NULL,
	[YazarID] [int] NULL,
	[KategoriID] [int] NULL,
	[SayfaSayisi] [int] NULL,
	[Stok] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KitapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uyeler]    Script Date: 28.04.2026 20:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uyeler](
	[UyeID] [int] NOT NULL,
	[Ad] [varchar](50) NULL,
	[Soyad] [varchar](50) NULL,
	[Eposta] [varchar](100) NULL,
	[Telefon] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[UyeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yazarlar]    Script Date: 28.04.2026 20:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yazarlar](
	[YazarID] [int] NOT NULL,
	[Ad] [varchar](50) NULL,
	[Soyad] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[YazarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Emanetler] ([IslemID], [KitapID], [UyeID], [VerilisTarihi], [IadeTarihi], [TeslimDurumu]) VALUES (1, 101, 1, CAST(N'2026-11-10' AS Date), CAST(N'2026-11-24' AS Date), 0)
INSERT [dbo].[Emanetler] ([IslemID], [KitapID], [UyeID], [VerilisTarihi], [IadeTarihi], [TeslimDurumu]) VALUES (2, 102, 2, CAST(N'2026-11-12' AS Date), CAST(N'2026-11-26' AS Date), 0)
INSERT [dbo].[Emanetler] ([IslemID], [KitapID], [UyeID], [VerilisTarihi], [IadeTarihi], [TeslimDurumu]) VALUES (3, 104, 3, CAST(N'2026-11-15' AS Date), CAST(N'2026-11-29' AS Date), 0)
GO
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAd]) VALUES (1, N'Dünya Klasikleri')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAd]) VALUES (2, N'Türk Edebiyatı')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAd]) VALUES (3, N'Tarih')
GO
INSERT [dbo].[Kitaplar] ([KitapID], [KitapAd], [YazarID], [KategoriID], [SayfaSayisi], [Stok]) VALUES (101, N'Suç ve Ceza', 1, 1, 687, 5)
INSERT [dbo].[Kitaplar] ([KitapID], [KitapAd], [YazarID], [KategoriID], [SayfaSayisi], [Stok]) VALUES (102, N'Kürk Mantolu Madonna', 2, 2, 160, 8)
INSERT [dbo].[Kitaplar] ([KitapID], [KitapAd], [YazarID], [KategoriID], [SayfaSayisi], [Stok]) VALUES (103, N'Türklerin Tarihi', 3, 3, 400, 3)
GO
INSERT [dbo].[Uyeler] ([UyeID], [Ad], [Soyad], [Eposta], [Telefon]) VALUES (1, N'Ali', N'Yılmaz', N'ali.yilmaz@gmail.com', N'05321112233')
INSERT [dbo].[Uyeler] ([UyeID], [Ad], [Soyad], [Eposta], [Telefon]) VALUES (2, N'Ayşe', N'Kaya', N'ayse.kaya@gmail.com', N'05442223344')
INSERT [dbo].[Uyeler] ([UyeID], [Ad], [Soyad], [Eposta], [Telefon]) VALUES (3, N'Mehmet', N'Demir', N'mehmet.demir@gmail.com', N'05053334455')
GO
INSERT [dbo].[Yazarlar] ([YazarID], [Ad], [Soyad]) VALUES (1, N'Fyodor', N'Dostoyevski')
INSERT [dbo].[Yazarlar] ([YazarID], [Ad], [Soyad]) VALUES (2, N'Sabahattin', N'Ali')
INSERT [dbo].[Yazarlar] ([YazarID], [Ad], [Soyad]) VALUES (3, N'İlber', N'Ortaylı')
GO
ALTER TABLE [dbo].[Emanetler]  WITH CHECK ADD FOREIGN KEY([KitapID])
REFERENCES [dbo].[Kitaplar] ([KitapID])
GO
ALTER TABLE [dbo].[Emanetler]  WITH CHECK ADD FOREIGN KEY([UyeID])
REFERENCES [dbo].[Uyeler] ([UyeID])
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD FOREIGN KEY([YazarID])
REFERENCES [dbo].[Yazarlar] ([YazarID])
GO
